# Configurações de Acesso e Versionamento
#IMAGE_BASE=aryarajalves/configurar-agentes-ia:1.1.9
IMAGE_BASE=carj07/configurar-agentes-ia:1.2.0

## Admin Access
ADMIN_EMAIL=admin@agente.com
ADMIN_PASSWORD=admin123

# Configurações de CORS
CORS_ALLOWED_ORIGINS=http://localhost:5300

# Configurações de Banco de Dados
POSTGRES_HOST=postgres
POSTGRES_USER=admin_agente
POSTGRES_PASSWORD=your_password
POSTGRES_DB=rag_db
POSTGRES_PORT_EXTERNAL=5433

# Database Connection
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}

# AI Models & APIs
OPENAI_API_KEY=
GEMINI_API_KEY=
ASSEMBLYAI_API_KEY=

# App Security
GUNICORN_WORKERS=4
JWT_SECRET_KEY=yoursecret
AGENT_API_KEY=your-api-key

# Infrastructure
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Integrations
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/integrations/google/callback

# Object Storage (S3 Compatible)
S3_ENABLED=true
S3_ENDPOINT_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=
